@charset "utf-8";

#wrap.home_tmon #inner_wrap{width:100%;margin-left:0;left:0}
#wrap.home_tmon #container{float:none;width:100%;margin:0 auto}
#wrap.home_tmon #header,#wrap.home_tmon #content{float:none;margin:0 auto}
#wrap.home_tmon #GnbRightBanner{position:absolute;top:602px;left:50%;margin:0 0 0 510px}

/* 티몬베스트 */
.home_tmon .today_recom_deal{margin-top:10px}
.home_tmon .today_recom_deal .title{width:129px;height:21px;margin:0 0 10px 9px;padding:0;background:url( http://img1.tmon.kr/static/img/sp_tmon_home.png?v=1478245146 ) no-repeat -850px -60px;text-indent:-9999px}
.home_tmon .today_recom_deal .btn_recom_more{margin-top:10px;text-align:right}
.home_tmon .today_recom_deal .btn_recom_more a{display:inline-block;font-weight:bold;font-size:14px;color:#333;letter-spacing:-1px;text-decoration:underline}
.home_tmon .today_recom_deal .btn_recom_more a .bu{display:inline-block;overflow:hidden;width:3px;height:5px;margin:5px 3px 0 6px;background:url( http://img1.tmon.kr/static/img/sp_bu.png?v=1478245146 ) no-repeat 100% -182px;line-height:1000px;vertical-align:top}
.home_tmon .today_recom_deal .column3 .click_zzim{display:none}
.home_tmon .today_recom_deal .column3 .detail .subject{width:303px}

/* 내주변 인기상품 */
.my_area_best{position:relative;margin-top:35px;padding:25px 18px 20px;border:1px solid #e2e2e2;border-bottom-color:#cbcbcb;background:#fff}
.my_area_best .title{width:125px;height:20px;margin:0 0 15px 0;padding:0;background:url( http://img1.tmon.kr/static/img/sp_tmon_home.png?v=1478245146 ) no-repeat -855px -25px;text-indent:-9999px}
.my_area_best .uio_page_location{margin:18px 0 -40px}
.my_area_best .btn_area_more{margin:25px 0 3px;text-align:right}
.my_area_best .btn_area_more a{display:inline-block;font-weight:bold;color:#333;letter-spacing:-1px;text-decoration:underline}
.my_area_best .btn_area_more a .bu{display:inline-block;overflow:hidden;width:3px;height:5px;margin:3px 1px 0 3px;background:url( http://img1.tmon.kr/static/img/sp_bu.png?v=1478245146 ) no-repeat 100% -182px;line-height:1000px;vertical-align:top}
.my_area_best .menu{position:relative;margin-bottom:25px;border-top:2px solid #686868;border-bottom:1px solid #c4c4c4;background:#f5f5f5;zoom:1}
.my_area_best .menu:after{display:block;clear:both;content:''}
.my_area_best .menu li{float:left;height:38px}
.my_area_best .menu li a{display:block;width:78px;height:26px;padding-top:12px;border-right:1px solid #dedede;font-weight:bold;font-size:14px;color:#757679;text-align:center}
.my_area_best .menu li a.selected{position:relative;height:27px;margin-left:-1px;border:1px solid #c4c4c4;border-width:0 1px;background:#fff;color:#010101}
.my_area_best .menu li:first-child a{width:81px;margin-left:0}
.my_area_best .menu li.last a{width:80px;border-right:0}
.my_area_best .menu li:first-child a.selected{width:80px}
.my_area_best .menu li.last a.selected{width:79px;border-right:1px solid #c4c4c4}
.my_area_best .column3_v1{overflow:hidden;margin-bottom:-20px;*margin-bottom:20px}

/* 고객님께서 최근 본 상품 입니다 */
.home_tmon .user_lately_deal{position:relative;margin-top:30px;padding:27px 0 27px 18px;border:1px solid #e2e2e2;border-bottom-color:#cbcbcb;background:#fff}

.home_tmon .user_lately_deal .title{width:144px;height:20px;margin:0 0 15px;padding:0;background:url( http://img1.tmon.kr/static/img/sp_tmon_home.png?v=1478245146 ) no-repeat -750px -70px;text-indent:-9999px}
.home_tmon .user_lately_deal .title_txt{position:relative;height:20px;margin:0 0 15px;padding:0}
.home_tmon .user_lately_deal .title_txt span{display:block;position:absolute;top:0;left:0;white-space:nowrap;font-size:19px;font-weight:bold;color:#000;letter-spacing:-1px;}
.home_tmon .user_lately_deal .title_txt strong{color:#ff4800}


/* Today's HOT tab */
.home_tab_area{margin-bottom:27px;*zoom:1}
.home_tab_area:after{display:block;clear:both;content:''}
.home_tab_area a{float:left;width:330px;height:50px;border-top:2px solid #050412;border-bottom:1px solid #a0a0a0;background:url( http://img2.tmon.kr/static/img/sp_bar.png?v=1478245146 ) repeat-x 0 -615px;text-align:center}
.home_tab_area a:hover{background:none}
.home_tab_area a em{display:block;width:330px;margin:0 -1px;border-left:1px solid #e8e8e8;border-right:1px solid #e8e8e8}
.home_tab_area a span{display:inline-block;overflow:hidden;height:50px;background:url( http://img1.tmon.kr/static/img/sp_tmon_home.png?v=1478245146 ) no-repeat 0 -600px;line-height:900px;vertical-align:top}
.home_tab_area a.selected{position:relative;height:51px;border-top-color:#ff1200;border-bottom:0;background-position:0 -670px}
.home_tab_area a.selected:hover{background:url( http://img2.tmon.kr/static/img/sp_bar.png?v=1478245146 ) repeat-x 0 -670px}
.home_tab_area a.selected em{border-left-color:#a0a0a0;border-right-color:#a0a0a0}
.home_tab_area a.encore em{border-right:0}
.home_tab_area .todayshot em{border-left:0}
.home_tab_area .todayshot span{width:123px;background-position:0 -600px}
.home_tab_area .todayopen span{width:91px;background-position:-375px -600px}
.home_tab_area .encore span{width:61px;background-position:-660px -600px}

.home_tab_area .todayshot:hover span{background-position:-125px -600px}
.home_tab_area .todayopen:hover span{background-position:-470px -600px}
.home_tab_area .encore:hover span{background-position:-725px -600px}

.home_tab_area .todayshot.selected span{background-position:-250px -600px}
.home_tab_area .todayopen.selected span{background-position:-565px -600px}
.home_tab_area .encore.selected span{background-position:-790px -600px}

.no_deal_info{padding:118px 0 150px;text-align:center}
.no_deal_info .bu{display:inline-block;width:42px;height:42px;background:url( http://img1.tmon.kr/static/img/sp_tmon_home.png?v=1478245146 ) no-repeat -250px 0;vertical-align:top}
.no_deal_info strong{display:block;margin-top:19px;font-size:14px;color:#303a46;text-align:center;letter-spacing:-1px}

/* Today's Pick */
.todays_pick_wrap{padding:40px 0 50px;background:#fff}
.todays_pick_wrap .inner{overflow:hidden;width:990px;margin:0 auto;zoom:1} 
.todays_pick_wrap .h_todays_pick{overflow:hidden;width:424px;height:21px;margin-bottom:15px;background:url( http://img1.tmon.kr/static/img/sp_tmon_home.png?v=1478245146 ) no-repeat -880px 0;text-indent:-9999px} 
.todays_pick_wrap:after{display:block;clear:both;content:''}
.todays_pick_wrap .deal_unit{height:245px;margin-top:8px;margin-right:-8px;*zoom:1}
.todays_pick_wrap .deal_unit img{vertical-align:top}
.todays_pick_wrap .deal_unit .rolling_area{position:absolute;z-index:10;bottom:20px;left:27px;*zoom:1}
.todays_pick_wrap .deal_unit .rolling_area:after{display:block;clear:both;content:''}
.todays_pick_wrap .deal_unit .rolling_area li{float:left;overflow:hidden;width:9px;height:9px;padding:3px;background:url( http://img1.tmon.kr/static/img/sp_tmon_home.png?v=1478245146 ) no-repeat -102px 3px;text-indent:-9999px}
.todays_pick_wrap .deal_unit .rolling_area li.on{background-position:-87px 3px}
.todays_pick_wrap .deal_unit:after{display:block;clear:both;content:''}
.todays_pick_wrap .deal_unit_tp{height:467px;margin-top:0}
.todays_pick_wrap .deal{overflow:hidden;float:left;margin-right:8px;width:491px}
.todays_pick_wrap .deal_unit a{display:block;position:relative}
.todays_pick_wrap .deal_unit .edge{display:block;position:absolute;top:0;left:0;width:489px;height:243px;border:1px solid #000;opacity:.15;filter:alpha(opacity=15)}
.todays_pick_wrap .deal_unit a:hover .edge{width:487px;height:241px;border-width:2px;border-color:#ff5100;opacity:1;filter:alpha(opacity=100)}
.todays_pick_wrap .deal_unit .detail_view{display:none;overflow:hidden;position:absolute;bottom:32px;left:15px;width:80px;height:24px;background:url( http://img1.tmon.kr/static/img/sp_tmon_home.png?v=1478245146 ) no-repeat 0 0;text-indent:-9999px}
.todays_pick_wrap .deal_unit a:hover .detail_view{display:block}
.todays_pick_wrap .deal_unit .small_lst{margin:-7px -7px 0 0;*zoom:1}
.todays_pick_wrap .deal_unit .small_lst:after{display:block;clear:both;content:''}
.todays_pick_wrap .deal_unit .small_lst li{float:left;width:242px;margin:7px 7px 0 0}
.todays_pick_wrap .deal_unit .small_lst li img{display:inline-block;vertical-align:top}
.todays_pick_wrap .deal_unit .small_lst .edge{width:240px;height:243px}
.todays_pick_wrap .deal_unit .small_lst a:hover .edge{width:238px;height:241px}
.todays_pick_wrap .deal_unit_tp .edge{height:465px}
.todays_pick_wrap .deal_unit_tp .deal:first-child{position:relative}
.todays_pick_wrap .deal_unit_tp a:hover .edge{height:463px}
.todays_pick_wrap .deal_unit_tp a:hover .detail_view{bottom:167px;left:23px;width:93px;height:28px;background-position:0 -25px}
.todays_pick_wrap .deal_unit_tp .small_lst .edge{height:228px}
.todays_pick_wrap .deal_unit_tp .small_lst a:hover .edge{height:226px}
.todays_pick_wrap .deal_unit_tp .small_lst a:hover .detail_view{display:block;bottom:32px;left:15px;width:80px;height:24px;background-position:0 0}

/* 주요 배너 모음 */
.tmon_exhibition_wrap{height:258px;margin-bottom:50px;padding-top:33px;background:#e4e4e4}
.tmon_exhibition_wrap .inner{width:990px;margin:0 auto}
.tmon_exhibition_wrap .title{width:99px;height:22px;margin:0 0 13px 3px;background:url( http://img1.tmon.kr/static/img/sp_tmon_home.png?v=1478245146 ) no-repeat -750px -45px;text-indent:-9999px}
.tmon_exhibition_wrap .lst_box{overflow:hidden;position:relative;height:180px}
.tmon_exhibition_wrap .lst_box li{float:left;width:330px;height:180px}
.tmon_exhibition_wrap .lst_box li a{display:block;position:relative}
.tmon_exhibition_wrap .lst_box ul li .edge{display:block;position:absolute;top:0;left:0;width:329px;height:178px;border:solid #000;border-width:1px 1px 1px 0;opacity:0.15;filter:alpha(opacity=15)}
.tmon_exhibition_wrap .lst_box ul li:first-child .edge{width:328px;border-width:1px}
.tmon_exhibition_wrap .lst_box .btn_prev,.tmon_exhibition_wrap .lst_box .btn_next{display:block;position:absolute;top:60px;z-index:10;width:36px;height:59px;background:url( http://img1.tmon.kr/static/img/sp_tmon_home.png?v=1478245146 ) no-repeat 0 -510px;text-indent:-9999px}
.tmon_exhibition_wrap .lst_box .btn_prev{left:0}
.tmon_exhibition_wrap .lst_box .btn_next{right:0;background-position:-40px -510px}
.tmon_exhibition_wrap .lst_box .btn_prev:hover{background-position:-80px -510px}
.tmon_exhibition_wrap .lst_box .btn_next:hover{background-position:-120px -510px}
.tmon_exhibition_wrap .dot_nav{margin-top:9px;text-align:center}
.tmon_exhibition_wrap .dot_nav li{display:inline-block;*display:inline;width:15px;height:15px;margin-right:-4px;*margin-right:0;zoom:1}
.tmon_exhibition_wrap .dot_nav li a{display:block;width:100%;height:100%;background:url( http://img1.tmon.kr/static/img/sp_tmon_home.png?v=1478245146 ) no-repeat -102px 3px;text-indent:-9999px}
.tmon_exhibition_wrap .dot_nav li.selected a{background-position:-87px 3px}
 
/* 고객님께서 최근 본 상품 입니다 ABTEST */
.user_lately_deal2{position:relative;z-index:1;margin-top:30px;padding:25px 18px;border:1px solid #e2e2e2;border-bottom-color:#cbcbcb;background:#fff}
.user_lately_deal2 .title{width:237px;height:20px;margin:0 0 15px;padding:0;background:url( http://img1.tmon.kr/static/img/sp_tmon_home.png?v=1478245146 ) no-repeat -985px -25px;text-indent:-9999px}
.user_lately_deal2 .deal_area{position:relative;z-index:100;height:156px;border-top:2px solid #686868}
.user_lately_deal2 .deal_area .column4s_v1{overflow:visible;margin-right:0;border:solid #e2e2e2;border-width:0 1px}
.user_lately_deal2.wrap_deal_lst .column4s_v1 li{float:left;height:131px;margin:0;padding:25px 13px 0;cursor:pointer}
.user_lately_deal2.wrap_deal_lst .column4s_v1 li:first-child{padding-left:26px}
.user_lately_deal2.wrap_deal_lst .column4s_v1 li.last{padding-right:26px}
.user_lately_deal2.wrap_deal_lst .column4s_v1 li:hover .thmb .edge{width:102px;height:67px;border:2px solid #ff3600;opacity:1;filter:alpha(opacity=100)}
.user_lately_deal2.wrap_deal_lst .column4s_v1 li .detail .subject{height:18px;white-space:nowrap}
.user_lately_deal2.wrap_deal_lst .column4s_v1 li.selected{background:#9fa4b1;cursor:default}
.user_lately_deal2.wrap_deal_lst .column4s_v1 li.selected .detail .subject{font-weight:bold;color:#fff;letter-spacing:-1px}
.user_lately_deal2.wrap_deal_lst .column4s_v1 li.selected .thmb .edge{width:104px;height:69px;border:1px solid #000;opacity:0.05;filter:alpha(opacity=5)}
.user_lately_deal2 .column4s_v1 li .btn_view{display:none;font-size:11px;color:#fff;letter-spacing:-1px;text-decoration:underline}
.user_lately_deal2 .column4s_v1 li .btn_view .bu{display:inline-block;position:relative;top:-2px;width:3px;height:5px;background:url( http://img1.tmon.kr/static/img/sp_tmon_home.png?v=1478245146 ) no-repeat -235px 0;vertical-align:middle}
.user_lately_deal2 .column4s_v1 li.selected .btn_view{display:inline-block}
.user_lately_deal2 .column4s_v1 li.selected .on_arr{display:block;position:absolute;bottom:-13px;left:50%;width:29px;height:13px;margin-left:-14px;background:url( http://img1.tmon.kr/static/img/sp_tmon_home.png?v=1478245146 ) no-repeat -200px 0;vertical-align:middle}
.user_lately_deal2 .deal_area2{position:relative;margin-top:-1px;padding:33px 27px 0;border:1px solid #e2e2e2}
.user_lately_deal2 .deal_area2 .stit{padding-bottom:14px;font-size:14px;color:#323232;letter-spacing:-1px}
.user_lately_deal2 .deal_area2 .stit strong{color:#fe3e27}
.user_lately_deal2 .deal_area2 .page{position:absolute;top:32px;right:28px;font-size:11px;font-weight:bold;font-family:tahoma;color:#b0b0b0}
.user_lately_deal2 .deal_area2 .page strong{color:#666}
.user_lately_deal2 .deal_area2 .btn_prev,.user_lately_deal2 .deal_area2 .btn_next{display:block;position:absolute;top:170px;z-index:10;width:36px;height:59px;background:url( http://img1.tmon.kr/static/img/sp_tmon_home.png?v=1478245146 ) no-repeat 0 -510px;text-indent:-9999px}
.user_lately_deal2 .deal_area2 .btn_prev{left:-1px}
.user_lately_deal2 .deal_area2 .btn_next{right:-1px;background-position:-40px -510px}
.user_lately_deal2 .deal_area2 .btn_prev:hover{background-position:-80px -510px}
.user_lately_deal2 .deal_area2 .btn_next:hover{background-position:-120px -510px}
 
/* 오늘의추천,핫이슈 ABTEST */
.todayhot_b_test .todays_pick_wrap{padding-top:40px}
#wrap.home_tmon.todayhot_b_test #GnbRightBanner{top:608px}
.todayhot_b_test #GnbRightBanner .event_banner{position:absolute;top:-544px}
 
.wrap_recomm_hotissue{height:468px;padding-top:64px;background:#ebecef}
.wrap_recomm_hotissue .inner_wrap{width:990px;margin:0 auto}
.wrap_recomm_hotissue .inner_wrap:after{display:block;clear:both;content:''}
.wrap_recomm_hotissue [class^="btn_"]{display:none;position:absolute;top:145px;z-index:15;width:51px;height:73px;background:url( http://img1.tmon.kr/static/img/sp_tmon_home.png?v=1478245146 ) no-repeat 0 -895px;text-indent:-9999px}
.wrap_recomm_hotissue .btn_prev{left:0}
.wrap_recomm_hotissue .btn_prev:hover{background-position:-110px -895px}
.wrap_recomm_hotissue .btn_next{right:0;background-position:-55px -895px}
.wrap_recomm_hotissue .btn_next:hover{background-position:-165px -895px}
.wrap_recomm_hotissue .dot_nav{position:absolute;bottom:-32px;left:0;width:671px;height:20px;text-align:center}
.wrap_recomm_hotissue .dot_nav li{display:inline-block;*display:inline;width:20px;height:20px;margin:0 4px 0 3px;*margin:0 6px 0 5px;zoom:1}
.wrap_recomm_hotissue .dot_nav li a{display:block;width:100%;height:100%;background:url( http://img1.tmon.kr/static/img/sp_tmon_home.png?v=1478245146 ) no-repeat -160px -745px;text-indent:-9999px}
.wrap_recomm_hotissue .dot_nav li.selected a{background-position:-160px -770px}
.wrap_recomm_hotissue .top_edge{position:absolute;top:0;left:0;z-index:10;width:671px;height:1px;background:#000;opacity:0.15;filter:alpha(opacity=15)}
.wrap_recomm_hotissue .right_edge{position:absolute;top:1px;right:0;z-index:10;width:1px;height:404px;background:#000;opacity:0.15;filter:alpha(opacity=15)}
.wrap_recomm_hotissue .bottom_edge{position:absolute;bottom:0;left:0;z-index:10;width:671px;height:1px;background:#000;opacity:0.15;filter:alpha(opacity=15)}
.wrap_recomm_hotissue .left_edge{position:absolute;top:1px;left:0;z-index:10;width:1px;height:404px;background:#000;opacity:0.15;filter:alpha(opacity=15)}
 
.ct_recomm{position:relative;float:left;width:671px;height:406px}
.ct_recomm .title{position:absolute;top:-34px;left:0;width:123px;height:22px;background:url( http://img1.tmon.kr/static/img/sp_tmon_home.png?v=1478245146 ) no-repeat -210px -745px;text-indent:-9999px}
.ct_recomm .tmon_service{display:block;width:671px;height:406px}
.ct_recomm .main_box{overflow:hidden;position:relative;width:671px;height:317px;border-bottom:1px solid #d1d6d9}
.ct_recomm .main_box:hover [class^="btn_"]{display:block}
.ct_recomm .main_deal_lst li{clear:both;overflow:hidden;float:left;width:671px;height:317px}
.ct_recomm .main_deal_lst li a{display:block;position:relative;width:671px;height:317px}
.ct_recomm .main_deal_lst .percent,
.ct_recomm .main_deal_lst .tmon_price,
.ct_recomm .main_deal_lst .joint_plan,
.ct_recomm .main_deal_lst .prmt_discount{display:block;position:absolute;top:0;right:12px;width:130px;height:82px;padding-top:11px;background:url( http://img1.tmon.kr/static/img/sp_tmon_home.png?v=1478245146 ) no-repeat -100px -795px;font-weight:bold;font-family:tahoma;font-size:41px;color:#fff;text-align:center;cursor:pointer}
.ct_recomm .main_deal_lst .tmon_price{background-position:-240px -795px;text-indent:-9999px}
.ct_recomm .main_deal_lst .joint_plan{background-position:-230px -895px;text-indent:-9999px}
.ct_recomm .main_deal_lst .prmt_discount{background-position:-365px -895px;text-indent:-9999px}
.ct_recomm .main_deal_lst .percent span{font-weight:normal;font-size:25px}
.ct_recomm .main_deal_lst .option{overflow:hidden;position:absolute;top:0;left:57px;height:45px;cursor:pointer}
.ct_recomm .main_deal_lst .option [class^="free"]{display:block;width:50px;height:45px;background:url( http://img1.tmon.kr/static/img/sp_tmon_home.png?v=1478245146 ) no-repeat 0 -745px;text-indent:-9999px}
.ct_recomm .main_deal_lst .option .free_terms{width:63px;background-position:-55px -745px}
.ct_recomm .main_deal_lst .price{position:absolute;top:141px;left:56px;cursor:pointer}
.ct_recomm .main_deal_lst .price em{float:left;font-weight:bold;font-family:tahoma;font-size:38px;color:#ff3a00;vertical-align:top;letter-spacing:-1px}
.ct_recomm .main_deal_lst .price span{display:block;float:left;width:25px;height:29px;margin:9px 0 0 3px;background:url( http://img1.tmon.kr/static/img/sp_tmon_home.png?v=1478245146 ) no-repeat -125px -745px;text-indent:-9999px;vertical-align:top}
.ct_recomm .main_deal_lst .price_info{display:block;position:absolute;top:190px;left:56px;font-size:11px;color:#858585;cursor:pointer;letter-spacing:-1px}
 
.ct_recomm .thmb_box{overflow:hidden;height:88px}
.ct_recomm .thmb_lst li{float:left;width:96px;height:88px;background:url( http://img1.tmon.kr/static/img/sp_tmon_home.png?v=1478245146 ) no-repeat 0 -795px}
.ct_recomm .thmb_lst li:first-child{width:95px}
.ct_recomm .thmb_lst li a,
.ct_recomm .thmb_lst li .no_deal{display:block;width:95px;height:100%;border-left:1px solid #dadbdd}
.ct_recomm .thmb_lst li:first-child a,
.ct_recomm .thmb_lst li:first-child .no_deal{border-left:0}
.ct_recomm .thmb_lst li .no_deal{text-indent:-999em}
 
.ct_hotissue{float:right;position:relative;width:310px;height:406px;background:#fff}
.ct_hotissue .title{position:absolute;top:282px;left:0;z-index:10;width:300px;padding-right:10px;height:23px;text-align:center}
.ct_hotissue .title .issue{display:inline-block;overflow:hidden;width:71px;height:23px;margin-right:9px;background:url( http://img1.tmon.kr/static/img/sp_tmon_home.png?v=1478245146 ) no-repeat -210px -770px;line-height:100px;vertical-align:middle}
.ct_hotissue .title img{vertical-align:middle}
.ct_hotissue .top_edge,.ct_hotissue .bottom_edge{width:310px}
.ct_hotissue .right_edge,.ct_hotissue .left_edge{height:404px}
.ct_hotissue .dot_nav{bottom:-28px;width:310px;height:18px}
.ct_hotissue .dot_nav li{width:18px;height:18px;margin:0;*margin:0 2px}
.ct_hotissue .dot_nav li a{background-position:-185px -745px}
.ct_hotissue .dot_nav li.selected a{background-position:-185px -765px}
.ct_hotissue .deal_lst{position:absolute;top:0;left:0;overflow:hidden;width:310px;height:406px;background:#fff}
.ct_hotissue .deal_lst:hover [class^="btn_"]{display:block}
.ct_hotissue .deal_lst li{width:310px;height:406px}
.ct_hotissue .deal_lst li a{display:block;position:relative;width:100%;height:100%}
.ct_hotissue .deal_lst li a span{display:block;text-align:center}
.ct_hotissue .deal_lst li a .subject{margin:20px 0 4px;font-weight:bold;font-size:14px;color:#000}
:root .ct_hotissue .deal_lst li a .subject{margin:13px 0 2px}
:root .ct_hotissue .deal_lst li a .subject{margin:17px 0 2px \0/IE9}
.ct_hotissue .deal_lst li a .price em{position:relative;top:1px;font-family:tahoma}
.ct_hotissue .deal_lst li a .price .sale{display:inline;font-weight:bold;color:#ff3600}
.ct_hotissue .deal_lst li a .price .sale em{font-size:15px}
.ct_hotissue .deal_lst li a .price .prime{display:inline;font-size:11px;color:#aaa;text-decoration:line-through}
.ct_hotissue .deal_lst li a .info{margin-top:8px;font-size:11px;color:#828284;letter-spacing:-1px}
.ct_hotissue .deal_lst li a .shadow{position:absolute;top:191px;left:0;width:100%;height:127px;background:url( http://img1.tmon.kr/static/img/sp_tmon_home.png?v=1478245146 ) no-repeat -380px -745px;cursor:pointer}
 
/* 오늘의 추천 프로모션 bg */
.todays_hot_wrap.promo_bg1{background:url( http://img1.tmon.kr/static/img/line_todayshot_newyear.png?v=1478245146 ) repeat-x}
.todays_hot_wrap.promo_bg1 .bg_inner{background:url( http://img1.tmon.kr/static/img/bg_todayshot_newyear.png?v=1478245146 ) no-repeat 50% 0}

/* 전체 카테고리 (하단 카테고리 네비게이션) */ 
.home_bt_nav{margin-top:76px} 
.home_bt_nav .title{width:116px;height:20px;margin-bottom:16px;background:url( http://img1.tmon.kr/static/img/sp_tmon_home.png?v=1478245146 ) no-repeat -1230px -25px;text-indent:-9999px} 
.ct_nav_wrap{position:relative;overflow:hidden;height:233px;background-color:#fff;border:1px solid;border-color:#777 #dcdcdc #ddd} 
.ct_nav_wrap .ct_nav{float:left;height:100%;border-left:1px solid #eaeaea} 
.ct_nav_wrap .ct_nav:first-child{border:none;margin-left:-1px} 
.ct_nav_wrap .ct_nav a{color:#666} 
.ct_nav_wrap .ct_nav a:hover{text-decoration:underline} 
.ct_nav_wrap .ct_nav .ct_tit{position:relative;background-color:#fafafa;border-bottom:1px solid #f0f0f0} 
.ct_nav_wrap .ct_nav .ct_tit a{display:block;padding:14px 0 11px 20px;font-size:12px;color:#444} 
.ct_nav_wrap .ct_nav .ct_tit span{position:absolute;top:14px;right:19px;*overflow:hidden;*height:11px;font-size:11px;color:#c6c6c6} 
.ct_nav_wrap .ct_nav .lst{overflow:hidden;height:1;padding:10px 0} 
.ct_nav_wrap .ct_nav .lst ul{float:left;width:88px;height:174px;padding:0 1px 0 20px;border-left:1px solid #f6f6f6} 
.ct_nav_wrap .ct_nav .lst ul:first-child{border:none} 
.ct_nav_wrap .ct_nav .lst ul a{line-height:24px}
